@page "/"

<PageTitle>Home</PageTitle>

<section id="about" class="d-flex align-items-center min-vh-100">
    <div class="w-100 px-5">
        <h1 class="mt-5 mb-0 display-1 fw-semibold">ADAM <span class="text-primary">BESELER</span></h1>
        <h3 class="text-muted">MONTGOMERY, TX · <a class="link-primary" style="text-decoration:none" href="mailto:adam.beseler@mgail.com">adam.beseler@gmail.com</a></h3>
        <p class="my-5 fs-4 fw-medium text-dark">
            Self-taught software engineer with a passion for designing, developing, and deploying scalable applications. I leverage problem-solving skills and an understanding of full-stack development to build innovate projects and well as continuously learning and adapting to new technologies.
        </p>
    </div>
</section>
<section id="experience" class="d-flex align-items-center min-vh-100 border-top border-2 border-light-subtle">
    <div class="w-100 px-5">
        <h1 class="my-5 display-4 fw-semibold">EXPERIENCE</h1>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">SENIOR SOFTWARE ENGINEER</h3>
                <h5 class="mb-3">WINE.COM</h5>
                <p class="fw-medium">Maintain backend services and applications: fixing legacy bugs, adding features to existing services and building new ones when required to solve changing business requirements.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary fw-medium">May 2021 - Present</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">SUPPORT ANALYST & WMS ADMINISTRATOR</h3>
                <h5 class="mb-3">KÖRBER SUPPLY CHAIN SOLUTIONS</h5>
                <p class="fw-medium">Provided technical support for the Warehouse Advantage application suite. Worked with companies to maintain their software, performing version upgrades and troubleshooting issues in their customized implementations. Designed, built and rolled out new process workflows to meet operational requirements and standards.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary fw-medium">June 2019 - May 2021</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">OPERATIONS TECHNOLOGY PERSON, LEVEL 3</h3>
                <h5 class="mb-3">SANTORO ORG, MCDONALD'S FRANCHISE</h5>
                <p class="fw-medium">Communicate, repair and replace, and manage the technology for the organization. Act as a single point of contact when pushing new initiatives, and provide staff with training and support, both during and after completion.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary fw-medium">September 2011 - June 2019</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">GENERAL MANAGER</h3>
                <h5 class="mb-3">MCDONALD'S</h5>
                <p class="fw-medium">Manage all aspects of restaurant operations. Hire and retain quality employees. Identify opportunities to increase profitability or ease of service and provide solutions to achieve them.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary fw-medium">September 2000 - June 2019</span></div>
        </div>
    </div>
</section>
<section id="skills" class="d-flex align-items-center min-vh-100 border-top border-2 border-light-subtle">
    <div class="w-100 px-5">
        <h1 class="my-5 display-4 fw-semibold">SKILLS</h1>

        <h4 class="text-muted">Languages</h4>
        <ul class="list-group list-group-horizontal mt-2 mb-4 fw-medium fs-5">
            <li class="list-group-item border-0">C#</li>
            <li class="list-group-item border-0">SQL</li>
            <li class="list-group-item border-0">HTML</li>
            <li class="list-group-item border-0">CSS</li>
            <li class="list-group-item border-0">Javascript</li>
        </ul>

        <h4 class="text-muted">Technologies</h4>
        <ul class="list-group list-group-horizontal mt-2 mb-4 fw-medium fs-5">
            <li class="list-group-item border-0">.NET</li>
            <li class="list-group-item border-0">Docker</li>
            <li class="list-group-item border-0">Kubernetes</li>
        </ul>

        <h4 class="text-muted">Cloud Providers</h4>
        <ul class="list-group list-group-horizontal mt-2 mb-4 fw-medium fs-5">
            <li class="list-group-item border-0">AWS</li>
            <li class="list-group-item border-0">Azure</li>
        </ul>

    </div>
</section>
